<%#= content_tag :h2, matches_display_results_header(@matches.size) %>
<%= will_paginate @matches %>
<%= content_tag :h3,  page_entries_info(@matches)  %>
<%= content_tag(:table, class: "table table-bordered") do %>
  <%= content_tag :thead, matches_display_sort_column_headers(@search), nil, false %>
  <%= content_tag :tbody, matches_display_search_results(@matches), nil, false %>
<% end %>
<%= will_paginate @matches %>
<% if Rails.env.development? %>
<%= content_tag :p, matches_display_query_sql(@matches) %>
<% end %>
