<h1>Tennis Query</h1>
<%= link_to 'Goto Advanced mode', advanced_search_matches_path %>

<%= search_form_for @search  do |f| %>
  <fieldset>
    <legend>Player</legend>
        <%= f.label :winner_name_or_loser_name_cont, "Name contains", class: 'control-label col-sm-3' %>
        <div class="col-sm-8">
        <%= f.text_field :winner_name_or_loser_name_cont, placeholder: 'Winner or loser name contains ...', class: 'form-control'  %>
        </div>
        <%= f.label :winner_name_cont, "Winner", class: ' col-sm-3' %>
        <div class="col-sm-3">
        <%= f.text_field :winner_name_cont, placeholder: 'Winner name contains', class: ' '  %>
        </div>
        <%= f.label :loser_name_cont, "Loser", class: ' col-sm-3' %>
        <div class="col-sm-3">
        <%= f.text_field :loser_name_cont, placeholder: 'Loser name contains', class: ' '  %>
        </div>
  </fieldset>

  <fieldset>
    <legend>Event</legend>
    <div class="row">
        <%= f.label :tourney_name_cont, class: 'control-label col-sm-3' %>
        <div class="col-sm-3">
        <%= f.text_field :tourney_name_cont , class: 'form-control' %>
        </div>
        <%= f.label :tourney_date_start, class: 'control-label col-sm-3' %>
        <div class="col-sm-3">
        <%= f.text_field :tourney_date_start , class: 'form-control' %>
        </div>
    </div>
    <div class="row">
        <%= f.label :surface_eq, "Surface", class: 'control-label col-sm-3' %>
        <div class="col-sm-3">
        <%= f.text_field :surface_eq , placeholder: 'Clay/ Hard/ Grass/ Carpet', class: 'form-control' %>
        </div>
        <%= f.label :tourney_level_eq, "Tourney level (G/M/A/D)", class: 'control-label col-sm-3' %>
        <div class="col-sm-3">
        <%= f.text_field :tourney_level_eq , class: 'form-control' %>
        </div>
    </div>
  </fieldset>

  <%#= label_tag :distinct, 'Return distinct records?' %>
  <%#= check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>
  <%= f.submit "Search", class: "btn btn-primary btn-block" %>
<% end %>
<%#= will_paginate %>
<%= render 'results' %>
<%#= will_paginate %>
