/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";

/*
* bootstrap totally clowns with fieldset legend and maybe label
* so i am trying to get it back to what it looks like originally.
* I can't find the original settings yet.
*/
fieldset {
    border: 1px solid #000;
    padding: 0 1.4em 1.4em 1.4em;
    padding: 0 1.0em 1.0em 1.0em;
    margin: 0 0 0.1em 0;
}

legend {
    font-size: 1.0em;
	width: inherit;
	border-bottom: none;
}
/*
* the next was messing with bootstraps horizontal
*/
labelxxx {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
}
label {
  font-weight:normal;
}
