<footer class="footer">
  <div class="well well-sm">
        Ruby on Rails v4.2.7. The data is courtesy <a href="https://github.com/JeffSackmann/tennis_atp">Jeff Sackman</a> and is only for the period 2000 to Feb 2016 (due to heroku limitations). The data only contains matches of the top ranked players.
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">TennisQuery</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://www.atpworldtour.com/en/rankings/singles">ATP Rankings</a></li>
            <li><a href="http://tt.tennis-warehouse.com/">Talk Tennis</a></li> 
            <li><a href="http://www.atpworldtour.com/en/scores/current/">Scores</a></li> 
          </ul>
        </div>
      </nav>
</footer>
