<!DOCTYPE html>
<html>
<head>
  <title>Match Point</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(function() {
      <%= yield :document_ready %>
    });
  </script>

</head>

<body>
  <%#= render 'layouts/header' %>
  <div class="container">
    <% flash.each do | message_type, message | %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %> 
    <%= render 'layouts/footer' %>
    <%#= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
